*{
    padding: 0;
    margin: 0;
}
.container{
    height: 100vh;
    display:  flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}
.grid{
    padding: 20px;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    border: 10px solid rgb(35, 219, 189);
    background:rgb(255, 255, 255);
    border-radius:50px ;
    height: 360px;
    width: 380px;
}
.grid div{
    border: 2px solid rgb(250, 225, 225);
    margin:4px;
    border-radius:50%;
    height: 40px;
    width: 40px;
}
.player-one{
    border: none;
    background: rgb(218, 8, 165);
    border-radius: 50%;
}
.player-two{
    border: none;
    background: rgb(13, 203, 236) ;
    border-radius: 50%;
}
.bottom{
    display: none;
}