*{
    padding: 0;
    margin: 0;
}
.container{
    height: 100vh;
    display:  flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    border: 10px solid rgb(128, 204, 77);
    height: 240px;
    width: 280px;
}
.grid div{
    height: 40px;
    width: 40px;
    /* background: #42b833; */
}
.player-one{
    background: red;
    border-radius: 10px;
}
.player-two{
    background: blue ;
    border-radius: 10px;
}